
add_library( morphene_jsonball
   mm_ticks.cpp
   rc_params.cpp
   ${CMAKE_CURRENT_SOURCE_DIR}/include/morphene/jsonball/jsonball.hpp
)

target_link_libraries( morphene_jsonball fc )

target_include_directories( morphene_jsonball PUBLIC "${CMAKE_CURRENT_SOURCE_DIR}/include" )

INSTALL( TARGETS
   morphene_jsonball

   RUNTIME DESTINATION bin
   LIBRARY DESTINATION lib
   ARCHIVE DESTINATION lib
)
